body {
    background-color:  rgb(248, 234, 216);
}

.columns {
    display: flex;
}

.column {
    border: 0.01px solid rgb(57, 8, 8);
}

/* Column 1 */

#column1 {
    width: 25px;
}

.black-column1 {
    background-color: black;
    height: 350px;
}

.grey-column1 {
    background-color: grey;
    height: 100px;
}

.purple-column1 {
    background-color: purple;
    height: 50px;
}

/* Column 2 */

#column2 {
    width: 42px;
}

.pink-column2a {
    background-color: pink;
    height: 275px;
}

.lightgrey-column2 {
    background-color: rgb(211,211,211);
    height: 100px;
}

.pink-column2b {
    background-color: pink;
    height: 125px;
}

/* Column 3 */

#column3 {
    width: 65px;
}

.white-column3 {
    background-color: rgb(248, 234, 216);
    height: 200px;
}

.black-column3 {
    background-color: black;
    height: 150px;
}

.grey-column3 {
    background-color: grey;
    height: 150px;
}

/* Column 4 */

#column4 {
    width: 85px;
}

.purple-column4 {
    background-color: purple;
    height: 125px;
}

.pink-column4 {
    background-color: pink;
    height: 185px;
}

.lightgrey-column4 {
    background-color: rgb(211,211,211);
    height: 185px;
}


/* Column 5 */

#column5 {
    width: 42px;
}

.pink-column5 {
    background-color: pink;
    height: 100px;
}

.lightgrey-column5 {
    background-color: rgb(248, 234, 216);
    height: 125px;
}

.black-column5 {
    background-color: black;
    height: 275px;
}

/* Column 6 */

#column6 {
    width: 70px;
}

.grey-column6 {
    background-color: grey;
    height: 50px;
}

.purple-column6 {
    background-color: purple;
    height: 75px;
}

.pink-column6 {
    background-color: pink;
    height: 375px;
}

/* Column 7 */

#column7 {
    width: 25px;
}

.lightgrey-column7 {
    background-color: rgb(211,211,211);
    height: 350px;
}

.pink-column7 {
    background-color: pink;
    height: 100px;
}

.white-column7 {
    background-color: rgb(248, 234, 216);
    height: 50px;
}

/* Column 8 */

#column8 {
    width: 42px;
}

.black-column8 {
    background-color: black;
    height: 265px;
}

.grey-column8 {
    background-color: grey;
    height: 130px;
}

.purple-column8 {
    background-color: purple;
    height: 105px;
}

/* Column 9 */

#column9 {
    width: 65px;
}

.pink-column9a {
    background-color: pink;
    height: 175px;
}

.lightgrey-column9 {
    background-color: rgb(211,211,211);
    height: 175px;
}

.pink-column9b {
    background-color: pink;
    height: 150px;
}

/* Column 10 */

#column10 {
    width: 65px;
}

.white-column10 {
    background-color: rgb(248, 234, 216);
    height: 122px;
}

.black-column10 {
    background-color: black;
    height: 170px;
}

.grey-column10 {
    background-color: grey;
    height: 208px;
}

/* Column 11 */

#column11 {
    width: 42px;
}

.purple-column11 {
    background-color: purple;
    height: 105px;
}

.pink-column11 {
    background-color: pink;
    height: 130px;
}

.lightgrey-column11 {
    background-color: rgb(211,211,211);
    height: 265px;
}

/* Column 12 */

#column12 {
    width: 70px;
}

.pink-column12 {
    background-color: pink;
    height: 40px;
}

.white-column12 {
    background-color: rgb(248, 234, 216);
    height: 80px;
}

.black-column12 {
    background-color: black;
    height: 380px;
}

/* Column 13 */

#column13 {
    width: 25px;
}

.grey-column13 {
    background-color: grey;
    height: 350px;
}

.purple-column13 {
    background-color: purple;
    height: 100px;
}

.pink-column13 {
    background-color: pink;
    height: 50px;
}

/* Column 14 */

#column14 {
    width: 42px;
}

.lightgrey-column14 {
    background-color: rgb(211,211,211);
    height: 250px;
}

.pink-column14 {
    background-color: pink;
    height: 175px;
}

.white-column14 {
    background-color: rgb(248, 234, 216);
    height: 115px;
}

/* Column 15 */

#column15 {
    width: 62px;
}

.black-column15 {
    background-color: black;
    height: 175px;
}

.grey-column15 {
    background-color: pink;
    height: 175px;
}

.purple-column15 {
    background-color: purple;
    height: 150px;
}

/* Column 16 */

#column16 {
    width: 78px;
}

.pink-column16a {
    background-color: pink;
    height: 125px;
}

.lightgrey-column16 {
    background-color: rgb(211,211,211);
    height: 175px;
}

.pink-column16b {
    background-color: pink;
    height: 200px;
}

/* Column 17 */

#column17 {
    width: 42px;
}

.white-column17 {
    background-color: rgb(248, 234, 216);
    height: 63px;
}

.black-column17 {
    background-color: black;
    height: 150px;
}

.grey-column17 {
    background-color: grey;
    height: 287px;
}

/* Column 18 */

#column18 {
    width: 65px;
}

.purple-column18 {
    background-color: purple;
    height: 45px;
}

.pink-column18 {
    background-color: pink;
    height: 80px;
}

.lightgrey-column18 {
    background-color: rgb(211,211,211);
    height: 375px;
}



