body {
    background-color:  rgb(248, 234, 216);
}

.graphic-shapes {
display: flex;
}


/* Column 1 */

.column1 {
    width: 25px;
}

.black-column1 {
    background-color: black;
    height: 350px;
}

.grey-column1 {
    background-color: grey;
    height: 100px;
}

.purple-column1 {
    background-color: purple;
    height: 50px;
}

/* Column 2 */

.column2 {
    width: 45px;
}

.pink-column2a {
    background-color: pink;
    height: 275px;
}

.lightgray-column2 {
    background-color: rgb(211,211,211);
    height: 100px;
}

.pink-column2b {
    background-color: pink;
    height: 125px;
}
