body {
    background-color:  rgb(248, 234, 216);
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

 h1 {
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: -10px;
    margin-left: 17rem;
}

h2 {
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 17rem;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.column {
    border: 0.01px solid rgb(57, 8, 8);
}

/* Column 1 */

#column1 {
    width: 25px;
}

.black-column1 {
    background-color: black;
    height: 350px;
    background: linear-gradient(90deg, rgba(4,4,4,1) 0%, rgb(46, 46, 48) 35%, rgb(54, 55, 55) 100%);
}

.darkgrey-column1 {
    background-color: rgb(157, 157, 157);
    height: 100px;
}

.purple-column1 {
    background-color: rgb(94, 8, 94);
    height: 50px;
    background: linear-gradient(90deg, rgb(94, 8, 94) 0%, rgb(73, 22, 46) 35%, rgb(82, 29, 61) 100%);
}

/* Column 2 */

#column2 {
    width: 42px;    
}

.pink-column2a {
    background-color: rgb(232, 77, 196);
    height: 275px;
}

.lightgrey-column2 {
    background-color: rgb(211,211,211);
    height: 100px;
}

svg {
    width: 200px;
    height: 200px;
  }

.pink-column2b {
    background-color: rgb(232, 77, 196);
    height: 125px;
}

/* Column 3 */

#column3 {
    width: 65px;
}

.white-column3 {
    background-color: rgb(248, 234, 216);
    height: 200px;
}

.black-column3 {
    background-color: black;
    height: 150px;
    background: linear-gradient(90deg, rgba(4,4,4,1) 0%, rgb(46, 46, 48) 35%, rgb(54, 55, 55) 100%);
}

.darkgrey-column3 {
    background-color: rgb(157, 157, 157);
    height: 150px;
}

/* Column 4 */

#column4 {
    width: 85px;
}

.purple-column4 {
    background-color: rgb(94, 8, 94);
    height: 125px;
    background: linear-gradient(90deg, rgb(94, 8, 94) 0%, rgb(73, 22, 46) 35%, rgb(82, 29, 61) 100%);
}

.pink-column4 {
    background-color: rgb(232, 77, 196);
    height: 172px;
}

.lightgrey-column4 {
    background-color: rgb(211,211,211);
    height: 201px;
}

svg {
    width: 200px;
    height: 200px;
  }


/* Column 5 */

#column5 {
    width: 42px;
}

.pink-column5 {
    background-color: rgb(232, 77, 196);
    height: 100px;
}

.white-column5 {
    background-color: rgb(248, 234, 216);
    height: 125px;
}

.black-column5 {
    background-color: black;
    height: 275px;
    background: linear-gradient(90deg, rgba(4,4,4,1) 0%, rgb(46, 46, 48) 35%, rgb(54, 55, 55) 100%);
}

/* Column 6 */

#column6 {
    width: 70px;
}

.darkgrey-column6 {
    background-color: rgb(157, 157, 157);
    height: 50px;
}

.purple-column6 {
    background-color: rgb(94, 8, 94);
    height: 73px;
    background: linear-gradient(90deg, rgb(94, 8, 94) 0%, rgb(73, 22, 46) 35%, rgb(82, 29, 61) 100%);
}

.pink-column6 {
    background-color: rgb(232, 77, 196);
    height: 377px;
}

/* Column 7 */

#column7 {
    width: 25px;
}

.lightgrey-column7 {
    background-color: rgb(211,211,211);
    height: 350px;
}

svg {
    width: 200px;
    height: 200px;
  }

.pink-column7 {
    background-color: rgb(232, 77, 196);
    height: 100px;
}

.white-column7 {
    background-color: rgb(248, 234, 216);
    height: 50px;
}

/* Column 8 */

#column8 {
    width: 42px;
}

.black-column8 {
    background-color: black;
    height: 265px;
    background: linear-gradient(90deg, rgba(4,4,4,1) 0%, rgb(46, 46, 48) 35%, rgb(54, 55, 55) 100%);
}

.darkgrey-column8 {
    background-color: rgb(157, 157, 157);
    height: 130px;
}

.purple-column8 {
    background-color: rgb(94, 8, 94);
    height: 105px;
    background: linear-gradient(90deg, rgb(94, 8, 94) 0%, rgb(73, 22, 46) 35%, rgb(82, 29, 61) 100%);
}

/* Column 9 */

#column9 {
    width: 65px;
}

.pink-column9a {
    background-color: rgb(232, 77, 196);
    height: 175px;
}

.lightgrey-column9 {
    background-color: rgb(211,211,211);
    height: 175px;
}

svg {
    width: 200px;
    height: 200px;
  }

.pink-column9b {
    background-color: rgb(232, 77, 196);
    height: 150px;
}

/* Column 10 */

#column10 {
    width: 65px;
}

.white-column10 {
    background-color: rgb(248, 234, 216);
    height: 122px;
}

.black-column10 {
    background-color: black;
    height: 170px;
    background: linear-gradient(90deg, rgba(4,4,4,1) 0%, rgb(46, 46, 48) 35%, rgb(54, 55, 55) 100%);
}

.darkgrey-column10 {
    background-color: rgb(157, 157, 157);
    height: 208px;
}

/* Column 11 */

#column11 {
    width: 42px;
}

.purple-column11 {
    background-color: rgb(94, 8, 94);
    height: 105px;
}

.pink-column11 {
    background-color: rgb(232, 77, 196);
    height: 130px;
}

.lightgrey-column11 {
    background-color: rgb(211,211,211);
    height: 265px;
}

svg {
    width: 200px;
    height: 200px;
  }


/* Column 12 */

#column12 {
    width: 70px;
}

.pink-column12 {
    background-color: rgb(232, 77, 196);
    height: 40px;
}

.white-column12 {
    background-color: rgb(248, 234, 216);
    height: 80px;
}

.black-column12 {
    background-color: black;
    height: 380px;
    background: linear-gradient(90deg, rgba(4,4,4,1) 0%, rgb(46, 46, 48) 35%, rgb(54, 55, 55) 100%);
}

/* Column 13 */

#column13 {
    width: 25px;
}

.darkgrey-column13 {
    background-color: rgb(157, 157, 157);
    height: 350px;
}

.purple-column13 {
    background-color: rgb(94, 8, 94);
    height: 100px;
    background: linear-gradient(90deg, rgb(94, 8, 94) 0%, rgb(73, 22, 46) 35%, rgb(82, 29, 61) 100%);
}

.pink-column13 {
    background-color: rgb(232, 77, 196);
    height: 50px;
}

/* Column 14 */

#column14 {
    width: 42px;
}

.lightgrey-column14 {
    background-color: rgb(211,211,211);
    height: 250px;
}

svg {
    width: 200px;
    height: 200px;
  }

.pink-column14 {
    background-color: rgb(232, 77, 196);
    height: 175px;
}

.white-column14 {
    background-color: rgb(248, 234, 216);
    height: 115px;
}

/* Column 15 */

#column15 {
    width: 62px;
}

.black-column15 {
    background-color: black;
    height: 175px;
    background: linear-gradient(90deg, rgba(4,4,4,1) 0%, rgb(46, 46, 48) 35%, rgb(54, 55, 55) 100%);
}

.darkgrey-column15 {
    background-color: rgb(157, 157, 157);
    height: 175px;
}

.purple-column15 {
    background-color: rgb(94, 8, 94);
    height: 150px;
    background: linear-gradient(90deg, rgb(94, 8, 94) 0%, rgb(73, 22, 46) 35%, rgb(82, 29, 61) 100%);
}

/* Column 16 */

#column16 {
    width: 78px;
}

.pink-column16a {
    background-color: rgb(232, 77, 196);
    height: 125px;
}

.lightgrey-column16 {
    background-color: rgb(211,211,211);
    height: 175px;
}

svg {
    width: 200px;
    height: 200px;
  }

.pink-column16b {
    background-color: rgb(232, 77, 196);
    height: 200px;
}

/* Column 17 */

#column17 {
    width: 42px;
}

.white-column17 {
    background-color: rgb(248, 234, 216);
    height: 63px;
}

.black-column17 {
    background-color: black;
    height: 150px;
    background: linear-gradient(90deg, rgba(4,4,4,1) 0%, rgb(46, 46, 48) 35%, rgb(54, 55, 55) 100%);
}

.darkgrey-column17 {
    background-color: rgb(157, 157, 157);
    height: 287px;
}

/* Column 18 */

#column18 {
    width: 65px;
}

.purple-column18 {
    background-color: rgb(94, 8, 94);
    height: 45px;
    background: linear-gradient(90deg, rgb(94, 8, 94) 0%, rgb(73, 22, 46) 35%, rgb(82, 29, 61) 100%);
}

.pink-column18 {
    background-color: rgb(232, 77, 196);
    height: 80px;
}

.lightgrey-column18 {
    background-color: rgb(211,211,211);
    height: 375px;
}

svg {
    width: 200px;
    height: 200px;
  }



